[Unit]
Description=almostprohibited.ca backend indexer

[Service]
Type=oneshot
ExecStart=/bin/echo "hello world indexer"

[Install]
WantedBy=multi-user.target
