[Unit]
Description=almostprohibited.ca backend indexer

[Service]
Type=oneshot
ExecStart=/home/ubuntu/almostprohibited/backend/indexer

[Install]
WantedBy=multi-user.target
